# Introductions to Lists

In [1]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [2]:
top_cities[0]

'New York City'

In [5]:
top_cities[4]

'Phoenix'

In [ ]:
top_cities[5] # IndexError

IndexError: list index out of range

In [7]:
top_cities[-1]

'Phoenix'

In [8]:
top_cities[-5]

'New York City'

In [10]:
top_cities[1:4] # 1 inclusive, 4 exclusive

['Los Angeles', 'Chicago', 'Houston']

In [14]:
top_cities[0:2]

['New York City', 'Los Angeles']

In [15]:
top_cities[2:]

['Chicago', 'Houston', 'Phoenix']

In [16]:
top_cities[:3]

['New York City', 'Los Angeles', 'Chicago']

In [17]:
top_cities[:]

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [18]:
top_cities[10:16]

[]

In [ ]:
top_cities[0] # string

'New York City'

In [ ]:
top_cities[0:1] # list

['New York City']

## Deleting List Items

In [21]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[2]
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [22]:
top_cities[2]

'Chicago'

In [23]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[3:]
print(top_cities)

['New York City', 'Los Angeles', 'Singapore']

In [24]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[:]
print(top_cities)

[]

In [26]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities
print(top_cities) # NameError

NameError: name 'top_cities' is not defined

## Adding  new elements to lists

In [ ]:
# method append
book_ratings = [7, 9, 5, 6, 8]
book_ratings.append(4)
print(book_ratings)

[7, 9, 5, 6, 8, 4]

In [31]:
# method insert
book_ratings = [7, 9, 5, 6, 8]
book_ratings.insert(1, 10)
print(book_ratings)

[7, 10, 9, 5, 6, 8]

## Iterating lists

In [36]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
for city in top_cities:
    print('Current city:', city)

Current city: New York City
Current city: Los Angeles
Current city: Singapore
Current city: Chicago
Current city: Houston
Current city: Phoenix

In [ ]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
for city_index in range (len(top_cities)): # len with lists returns the number of elements
    print('Current index:', city_index,'| Current city:', top_cities[city_index],)

Current index: 0 | Current city: New York City
Current index: 1 | Current city: Los Angeles
Current index: 2 | Current city: Singapore
Current index: 3 | Current city: Chicago
Current index: 4 | Current city: Houston
Current index: 5 | Current city: Phoenix

In [38]:
spendings = [32.45, 18.65, 23.45, 78.32, 5.23]
sum = 0.0
for spending in spendings:
    sum += spending
print('Money spent:', sum)

Money spent: 158.1

## Changing element positions

In [41]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:', first, second)

Before swapping: 10 20
After swapping: 20 10

In [39]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first, second = second, first
print('After swapping:', first, second)

Before swapping: 10 20
After swapping: 20 10

In [44]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
['Houston', 'Los Angeles', 'Singapore', 'Chicago', 'New York City', 'Phoenix']

In [45]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort()
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix', 'Singapore']

In [46]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort()
print(random_numbers)

[-3, 0, 2, 4, 5]

In [47]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort(reverse=True)
print(random_numbers)

[5, 4, 2, 0, -3]

In [ ]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities)) # ordered
print(top_cities) # original list untouched

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix', 'Singapore']
['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']

In [ ]:
# list_name.sort(): sorts the original list - method
# sorted(list_name): gives back a new sorted list - general purpose funcion

## Checking element presence

In [49]:
for char in 'happy message':
    print(char)

h
a
p
p
y

m
e
s
s
a
g
e

In [50]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name in invited_guests:
    print('Welcome!')
else:
    print('Your are not invited!')

Your are not invited!

In [52]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name not in invited_guests:
    print('Welcome!')
else:
    print('Your are not invited!')

Welcome!

## Copying lists

In [ ]:
name_original = 'Jon Snow'
name_new = name_original
name_original = 'Daenerys Targaryen'
print(name_original, name_new)

Daenerys Targaryen Jon Snow

In [ ]:
list_original = [1, 2, 3]
list_new = list_original
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)
# lists use the reference in memory, not the values

Original: [-5, 2, 3]
New: [-5, 2, 3]

In [ ]:
list_original = [1, 2, 3]
list_new = list_original[:] # need to use slicing to copy the list
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [1, 2, 3]

In [ ]:
list_original = [1, 2, 3]
list_new = list_original[:2] 
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [1, 2]

In [ ]:
list_original = [1, 2, 3]
list_new = list_original # refering to the same 
list_original = [1, 2, 3]
list_new = list_original[:] # copy list

## List comprehensions

In [60]:
numbers = [1, 2, 3, 4]

In [ ]:
numbers = [] # creating empty list
for i in range (1,101): # inside a for loop we append numbers to the list
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# list comprehension
numbers = [i for i in range(1,101)] # only one row
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
numbers = [i for i in range(1,101) if i % 3 != 0] # remove numbers divisible by 3
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

## Nested lists

In [ ]:
numbers = [1, 2, 3, 4]
countries = ['UK', 'US', 'Germany']
countries = [1, 'UK', 2, 'US']

In [64]:
cells= [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
cells[0]

['A1', 'A2', 'A3']

In [66]:
cells[0][0]

'A1'

In [ ]:
cells= [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    print('Element:', x)

Element: ['A1', 'A2', 'A3']
Element: ['B1', 'B2', 'B3']

In [70]:
cells= [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells: 
    for y in x:
        print('Element:', y)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [ ]:
table= [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table: 
    for cell in row:
        print(cell,'', end='')
    print()

A1 A2 A3
B1 B2 B3

In [76]:
table= [i for i in range(1, 6)]
print(table)

[1, 2, 3, 4, 5]

In [77]:
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

## Adding and multiplying lists

In [79]:
list_us = ['New York City', 'Chicago']
list_uk = ['London', 'Bristol']
list_all = list_us + list_uk
print(list_all)

['New York City', 'Chicago', 'London', 'Bristol']

In [80]:
list_numbers = [0, 1] * 10
print(list_numbers)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

## Further string features

In [81]:
fav_band = 'Green Day'
print(fav_band[6])

D

In [82]:
print(fav_band[:6])

Green

In [ ]:
fav_band[6]='M' # TypeError

TypeError: 'str' object does not support item assignment

In [84]:
text = 'please capitalize me'
text_cap = text.upper()
print(text_cap)

PLEASE CAPITALIZE ME

In [86]:
user_number = input('Please provide a number: ')
if user_number.isnumeric():
    print('Thank you, that\'s a correct number!')
else:
    print('Sorry,', user_number, 'is not a number!')

Thank you, that's a correct number!

## Introduction to tuples

## Tuple operations

## Tuples in lists, lists in tuples

## Introduction to dictionaries

## Dictionary operations